{% extends 'layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мой менеджер задач</h1>

    <form class="ui form" action="/add" method="post">
        <div class="field">
            <label>Новая задача</label>
            <input type="text" name="title" placeholder="Введите название задачи"><br>
        </div>
        <button class="ui teal basic button" type="submit">Добавить</button>
    </form>

{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

    {% if todo.is_complete == False %}
    <span class="ui gray label">Не завершено</span>
    <a class="ui primary basic button" href="/update/{{ todo.id }}">Закрыть</a>
    {% else %}
    <span class="ui green label">Завершено</span>
    <a class="ui blue button" href="/update/{{ todo.id }}">Открыть</a>
    {% endif %}
    <a class="ui negative basic button" href="/delete/{{ todo.id }}">Удалить</a>
</div>
{% endfor %}
</div>
{% endblock content %}